# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Database files
tasks.db

# Uploads directory
uploads/
.devcontainer/
# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

*.db